body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  color: #333;
  text-align: right;
}
.btn {
  display: block; 
  margin: 0 auto;
  width: 200px;
}
.container {
  color: grey;
}
.container p {
  color: rgb(87, 87, 231);
}
.content{
  max-width: 1000px;
  padding: 20px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  border-radius: 8px;
}
.time {
  font-size: 15px;
  color: #333 !important;
}
ul {
  margin: 0 0 10px;
  padding: 0;
  text-align: right;
}
li {
  font-size: 20px;
  font-weight: 100px;
  height: 20px;
  line-height: 1;
  list-style: none;
  letter-spacing: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.text-center img,
.weather {
  padding: 2px;
  font-weight: bolder;
  color: #222;
}
#city {
  color: #333;
  font-weight: 700;
  height: 100;
}

.border-r-none {
  border-right: none !important;
}

.border-l-none {
 border-left: none !important;
}
.link {
  font-size: 14px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding-top: 5rem;
;
}
.link a {
  color: #885df1;
}
